doctype
html(ng-app)
    head
        link(href='app.css' rel='stylesheet')
        script(src='node_modules/angular/angular.js')
    body
        section#topContainer
            h1#name casey ross
        section#middleContainer
            button.project project 1
            button.project some cool project
            button.project another sublime project
            button.project.selected selected project
        section#bottomContainer
            .details
                .images
                .description