doctype
html(ng-app='portfolio')
    head
        link(href='app.css' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet')
    body(ng-controller='PortfolioController as PC')
        section.contact-link-container
            a(href='mailto:caseyros@gmail.com' target='_blank') email
            a(href='https://www.linkedin.com/in/caseyros' target='_blank') linkedin
            a(href='https://www.github.com/caseyross' target='_blank') github
            a(href='https://docs.google.com/document/d/1EpSt1S51QeIOzbdcOEqhx6WV5F1KWu7Z5BhKSpUseBU/edit?usp=sharing' target='_blank') resume
        section.name-container
            h1#name Casey Ross
        section.projects-container
            // .filter
            //     label
            //         input(type='checkbox')
            //         | just code
            //     label
            //         input(type='checkbox')
            //         | just design
            //     label
            //         input(type='checkbox')
            //         | both
            nav
                button.btn.project(ng-repeat='project in PC.projects' ng-click='PC.selectProject($index)' ng-class='{ selected: PC.selectedProject === $index }') {{ project.name }}
        section.details-container(ng-repeat='project in PC.projects' ng-show='PC.selectedProject === $index')
            .image-container
                img(ng-repeat='image in project.images' ng-click='PC.selectImage($index)' ng-src='https://res.cloudinary.com/dp7mdyryy/image/upload/f_auto,q_50,c_fill,h_200,w_200/{{ project.images[$index] }}')
            .text-container
                .title {{ project.title }}
                .commentary {{ project.commentary }}
                // hr
                .technologies
                    .technology(ng-repeat='technology in project.technologies') {{ technology }}
                a.btn(ng-href='{{ project.livelink }}' ng-show='project.livelink' target='_blank') view live site
                a.btn(ng-href='{{ project.github }}' ng-show='project.github' target='_blank') view on github
            .image-overlay(ng-show='PC.isImageSelected()' ng-click='PC.deselectImage()')
                img.lazyload(ng-repeat='image in project.images' ng-show='PC.selectedImage === $index' data-src='https://res.cloudinary.com/dp7mdyryy/image/upload/f_auto,q_50,c_fit,h_700,w_1000/{{ project.images[$index] }}')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js')
        script(src='lazysizes.min.js')
        script(src='portfolio.js')
        script(src='ga.js')