doctype
html(ng-app='portfolio')
    head
        link(href='app.css' rel='stylesheet')
    body(ng-controller='PortfolioController as portfolio')
        section.nameContainer
            h1#name casey ross
        section.projectsContainer
            button.project(ng-repeat='project in portfolio.projects') {{project.shortname}}
        section.detailsContainer
            .details
                .images
                .description
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js')
        script(src='portfolio.js')