*
    box-sizing border-box

html
    font-family Arial
    font-size 62.5%
    
h1
    font-size 6rem
    font-weight normal

section
    width 100%
    text-align center

.nameContainer
    height 150px
    margin-top 100px
    
.projectsContainer
    background white
    
.detailsContainer
    height 650px
    width 900px
    margin 0 auto
        
    .imagesContainer
        width 50%
        display inline-block
            
    .textContainer
        width 50%
        display inline-block
            
        .projectName
            font-size 2.4rem
            
        .projectDescription
            font-size 1.6rem
            
.project
    margin 10px
    padding 10px 20px 10px 20px
    display inline-block
    font-size 2rem
    background white
    border 2px solid black
    
    &:hover
    &:focus
        background gray
        color white
        outline none
        
    &.selected
        background black
        color white