html
    box-sizing border-box
    font-family Arial
    font-size 62.5%

body
    margin 0
    
h1
    font-size 6rem
    font-weight normal

section
    width 100%
    text-align center

#topContainer
    height 150px
    padding-top 100px
    
#middleContainer
    background white
    
#bottomContainer
    height 650px
    
    .details
        width 900px
        margin 0 auto
        
        .images
            width 50%
            display inline-block
            
        .description
            width 50%
            display inline-block
            
.project
    margin 10px
    padding 10px 20px 10px 20px
    display inline-block
    font-size 2rem
    background white
    border 2px solid black
    
    &:hover
        background gray
        color white
        
    &.selected
        background black
        color white