golden-fizz = #FFFB2E
candy-corn = #F9F653

html
    box-sizing border-box
    font-family Arial

body
    margin 0
    
h1
    font-size 60px
    font-weight normal

section
    width 100%
    text-align center

#name
    color gray

#nameContainer
    height 150px
    padding-top 100px
    background-color white