red = #E92929
purple = #B929E9
blue = #2980E9

red-l = #F08383
purple-l = #D87CF7
blue-l = #73AEF6

red-h = #C10A0A
purple-h = #670688
blue-h = #064A9C
        
.coding
    color blue
    
    &:hover
    &:focus
    &.selected
        background blue
    
.hybrid
    color purple
    
    &:hover
    &:focus
    &.selected
        background purple
    
.design
    color red
    
    &:hover
    &:focus
    &.selected
        background red